html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    font-family: "Josefin Slab", serif;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid transparent;
}

button {
    border: none;
    background: none;
}

a:hover {
    opacity: .5;
    border-color: #00000080;
}

img {
    width: 100%;
}

h2 {
    font-family: "Josefin Slab", serif;
    color: #7D451B;
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
}

h3 {
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    color: #D9BDAA;
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 33px;
}

p {
    font-family: "Josefin Sans", sans-serif;
    color: #4A5568;
    font-size: 16px;
    line-height: 25px;
    /* margin-bottom: 10px; */

}

.rect {
    width: 52%;
    height: 900px;
    background-color: #F0EAE6;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.mw-container {
 max-width: 1100px;
 margin: 0 auto;
}

.sect-mb {
    margin-bottom: 200px;
}

.header {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header__wrapper {
    transition: all .7s ease-in-out;
}

.header__wrapper:hover {
    transform: scale(1.05);
}

.header__name {
    color: #000000;
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.header__wrapper__job {
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}


.navbar {
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.navbar__link {
font-family: "Josefin Slab", serif;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid transparent;}

.btn {
    font-family: "Josefin Slab", serif;
    border: none;
    color: #ffffff;
    width: 150px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

a .btn:hover {
    border-color: transparent;
    text-decoration: none;
}

.btn-xl {
    height: 90px;
    width: 250px;
    font-size: 18px;
}

.btn-black {
    background-color: #282828;
}

.btn-light {
    background-color: #D9BDAA;
}

.btn-footer {
    width: 150px;
    height: 40px;
    border-radius: initial;
    border-bottom: 1px solid #ffffff;
    padding: 0;

}

.btn-disabled {
    color: #aeaeae80;
    border-bottom: 1px solid #aeaeae69;
    transition: all .2s ease;
}

.btn-disabled:hover {
    color: #aeaeae;
    border-bottom: 1px solid #aeaeae;
}


.dropdown {
    position: relative;
    display: inline-block;
    padding: initial;
    transition: all .2s ease-in-out;
}



.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
    overflow: hidden;
    transition: all .2s ease-in-out;

}

.dropdown-content__wrapper {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown span:hover {
    padding-bottom: 50px;
}

.dropdown-content__wrapper__link {
    padding: 15px;
    border-bottom: 1px solid rgb(231, 231, 231);

}

.dropdown-content__wrapper__link:hover {
    background-color: #c0a492;
    color: #ffffff;
}



.hero {
    font-family: "Josefin Slab", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

.hero__wrapper {
    max-width: 41.3%;
    padding-bottom: 30px;
}

.hero__wrapper__name {
    font-family: "Josefin Slab", serif;
    color: #000000;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    text-wrap: nowrap;
}

.hero__wrapper__location {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
    text-wrap: nowrap;
}

.hero__wrapper__desc {
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #000000;
}

.hero__wrapper__link {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.hero__wrapper__link:hover {
    border-bottom: 0px solid transparent;
}

.hero__wrapper__link__img {
    object-fit: contain;
    width: 30px;
    height: 30px;
}

.hero__wrapper__link__text {
    font-family: "Josefin Sans", sans-serif;
    border-bottom: 1px solid #000000;
}



.hero__img {
    max-width: 50%;
}

.osteo {
    padding: 0 10px;

}

.osteo__intro {
    margin-bottom: 85px;
}

.osteo__intro__title {
    max-width: 900px;
    text-align: center;
    margin: 50px auto;
}

.osteo__intro__desc {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}


.osteo__all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}



.osteo__all__link {
    /* flex: 1; */
}

.osteo__all__link--services {
    background-color: #F0EAE6;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    text-align: center;
}

.osteo__all__link--services p {
    margin-bottom: 15px;
}

.osteo__all__link:hover {
    opacity: 1;
    border-color: transparent;

}
.osteo__all__figure {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    flex: 1;
    /* width: 18%; */
    height: 350px;
    border-radius: 8px;
}

.osteo__all__img {
    height: 100%;
    object-fit: cover;
}

.osteo__all__figcaption {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    text-align: center;
    opacity: 0;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.osteo__all__figcaption:hover {
    opacity: 1;
}

.osteo__all__figcaption__title {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
}

.osteo__all__figcaption__desc {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 20px;
    padding: 0 10px;
}

.osteo__all__figcaption__link {
    color: #ffffff;
    font-size: 12px;
    border-color: #ffffff;
}
.comfort {
    padding: 0 10px;
}

.comfort__title {
    text-align: center;
    margin-bottom: 50px;
}

.comfort__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.comfort__wrapper__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
}

.comfort__wrapper__home__article {
    max-width: 530px;
}

.comfort_wrapper__home__article__text {
    margin-bottom: 20px;
}

.comfort_wrapper__home__article__text p {
    margin-bottom: 10px;
}

.photo {
    width: 600px;
    height: 450px;
    background-color: red;
}

.banner {
    width: 100%;
    height: 400px;
    background: #00000093;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.banner__img {
    position: absolute;
    z-index: -1;
}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


.banner__title {
    color: #ffffff;
    font-size: 48px;
    max-width: 580px;
    line-height: 55px;
}

.advice {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.advice__title {
    text-align: center;
    margin-bottom: 50px;
    flex-basis: 100%;
}

.advice__card {
    background-color: #F5F5F5;
    max-width: 612px;
    border-radius: 8px;
    padding: 20px 36px;
    transition: all .2s ease-in-out;
    flex: 1;
}
.advice__card:hover  {
    background-color: #D9BDAA; 
}

.advice__card:hover p  {
    color: #ffffff; 
}
.advice__card:hover .advice__card__bottom__stars  {
    filter: brightness(0) invert(1);
}

.advice__card__avatar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.advice__card__avatar__img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
}

.advice__card__avatar__desc {
    font-size: 14px;
}

.advice__card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px;
}
.advice__card__bottom__stars {
    object-fit: contain;
    width: 105px;
}
.advice__card__bottom__link:hover {
    border-color: transparent;
}
.advice__card__bottom__google {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.footer {
    background-color: #282828;
}

.footer__wrapper {
    padding: 50px 135px;
    display: flex;
    justify-content: space-between;
}

.footer__wrapper__me {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__wrapper__me__title, .footer__wrapper__me__job {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    line-height: initial;
}
.footer__wrapper__me__job {
    font-size: 16px;
}

.footer__wrapper__para {
    max-width: 450px;
    color: #AEAEAE;
    line-height: initial;
}

.footer__wrapper__consultation {
}
.footer__wrapper__consultation__btns {
    margin-bottom: 10px;
    display: flex;
}

.consultation {}
.content-medical {
    display: none;
}
.content-consultation, .content-medical {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Slab", serif;
    gap: 5px;
}
.content-consultation  p,.content-medical p {
     font-size: 13px;
    color: #ffffff;
    font-family: "Josefin Slab", serif;

}
.content-consultation__day {
    border-bottom: 1px solid #ffffff;
     font-size: 13px;
    color: #ffffff;
    font-family: "Josefin Slab", serif;
}

.show {
    display: block;
}

.close {
    display: none;
}

/* @media screen and (max-width: 1050px) {

    .osteo__all__figcaption {
        position: initial;
        background: red;
        opacity: 1;
    }

    .osteo__all__figcaption__title {
        color: black;
    }
    .osteo__all__figure {
        overflow: initial;
    }
} */

@media screen and (max-width: 950px) {

    .hero__wrapper__name {
        font-size: 48px;
    }

    .hero__wrapper__location {
        font-size: 36px;
    }

}

@media screen and (max-width: 950px) {

    .sect-mb {
        margin-bottom: 50px;

    }

    h2 {
        font-size: 32px;
        line-height: 35px;
    }

    p {
        font-size: 14px;
    }

    .hero__wrapper__link__text {
        font-size: 14px;
    }

    .osteo {
        width: 95%;
        margin: 50px auto;
    }

    .osteo__intro {
        margin-bottom: 20px;
    }

    .osteo__intro__title {
        max-width: 645px;
        margin: 30px auto;
    }
    .hero {
        flex-direction: column;
    }

    
    .hero__wrapper {
        margin-top: 80px;
        max-width: 95%;
    }

    .comfort__wrapper {
        gap: 25px;
        width: 95%;
        margin: 0 auto;
    }
    
    .comfort__wrapper__home {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .flex-column {
        flex-direction: column;
    }

    .comfort__wrapper__home__article h3 {
        text-align: center;
    }

    .comfort__title {
        margin-bottom: 20px;
    }

    .comfort__wrapper__home__article {
        max-width: 95%;
        margin: 0 auto;
    }

    .banner__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner__title {
        text-align: center;
        font-size: 36px;
        max-width: 385px;
    }

    .photo {
        width: 100%;
    }

    .advice {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 20px auto;
    }

    .footer__wrapper {
        padding: 20px;
        flex-direction: column;
    }

    .footer__wrapper__me {
        gap: 20px;
        margin-bottom: 20px;
    }
}
